<!-- Footer Partial -->
<footer class="text-center mt-5 pt-4 pb-3 bg-white shadow-sm rounded-top" style="font-size: 0.95rem; color: #555;">
  <p>&copy; <%= new Date().getFullYear() %> Hauller. No rights reserved demonstration purpose only.  SIT 725 | Team 40.</p> 
  </footer>
